.container-hero {
  position: relative;
}

.btn-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 3px solid mintcream !important;
  background: transparent;
  color: mintcream;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 200ms;
}

.btn-hero:hover {
  background-color: mintcream;
  color: black;
  border: 3px solid transparent !important;
}
